:root {
    --DarkGrayishRed: hsl(0, 6%, 24%);
    --DesaturatedRed: hsl(0, 36%, 70%);
    --SoftRed: hsl(0, 93%, 68%);
    --BGradient: Linear, 135deg, from rgba(255, 255, 255, 0), to rgba(255, 97, 97, 0);
    --btnGradient: Linear, 135deg, from hsl(0, 80%, 86%), to hsl(0, 74%, 74%);
}

* {
    margin: 0;
    box-sizing: border-box;

}

body {
    background-image: linear-gradient(to right, rgba(255, 255, 255, .5), rgba(255, 97, 97, .5)), url(./images/bg-pattern-desktop.svg);
    background-repeat: no-repeat;
    height: 100vh;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.logo {
    display: block;
    margin-top: 3rem;

}

.large {
    display: flex;
    flex-direction: row;
    margin: 0 4rem 10rem;

}

.two {
    display: block;
    margin: 4rem 3rem 0 0;
}

.three {
    height: 100vh;

    img {
        padding-left: 20rem;
    }
}

h1 {
    font-size: 4rem;
    font-family: 'Josefin Sans';
    text-align: start;
    font-weight: 800;
    text-transform: uppercase;
    line-height: 5rem;
    letter-spacing: 1rem;
    color: var(--DarkGrayishRed);

    span {
        color: var(--DesaturatedRed);
        font-weight: 300;
    }
}

p,
input {
    margin-top: 2rem;
    color: var(--DesaturatedRed);
    font-family: 'Josefin Sans';
}

p {
    font-size: 1rem;
}

input {
    padding: .7rem 5rem .5rem 2.2rem;
    border: .2rem solid #decdcdbe;
    border-radius: 1rem;
    background-color: rgba(255, 255, 255, .5);


}

input:hover {
    border: .2rem solid #000000be;
}

button {
    border-radius: 20px;
    background-color: hsl(0, 93%, 68%);
    background-image: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
    height: 3rem;
    width: 4rem;
    left: 18rem;
    top: 31.3rem;
    position: absolute;
}